MYSQL_DATABASE=wordpress
MYSQL_USER=
MYSQL_PASSWORD=
WORDPRESS_DB_HOST=mariadb

DOMAIN=login.42.fr

REDIS_HOST=redis
REDIS_PORT=6379

WP_ADMIN_USER=
WP_ADMIN_PASSWORD=
WP_ADMIN_EMAIL=

WP_USER=
WP_PASSWORD=
WP_EMAIL=
